PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.rmmwo0h.mongodb.net/smart-queue?retryWrites=true&w=majority
MONGODB_DB=smart-queue
JWT_ACCESS_SECRET=your-super-secret-access-key
JWT_REFRESH_SECRET=your-super-secret-refresh-key
JWT_ACCESS_EXPIRE=1h
JWT_REFRESH_EXPIRE=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
GEMINI_API_KEY=your_gemini_api_key_here
